
# Test snippet
snippet log
	console.log(${1:arguments});

# Mocha / Sinon / Chai
snippet describe
	describe('${1}', function() {

		${2}

	});

snippet it
	it('${1}', function(${2:done}) {

		${3}

	});

snippet expect
	expect(${1}).to.${2};

# Require JS
snippet define
	define([${1}], function(${2}) {

		${3}

	});

snippet require
	require(['${1}'], function(${2}) {
		${3}
	});


