
snippet jsbox "JS comment box"
/*------------------------------------------------------------------------
		${1}
------------------------------------------------------------------------*/
endsnippet
